.App {
  text-align: center;
}

body {
  padding: 0px;
  background-color: black;
  color: lightgray;
}

h4 {
  padding: 0px;
  margin: 0px;
}

.TodoContainer {
  margin: auto;
  width: 40%;
  text-align: left;
}

.TodoHeader {
  border-width: 2px;
  border-style: solid;
  border-color:white;
  color:white;
  min-height: 4em;
  margin-top: 1.75em;
  margin-bottom: 1em;
  padding: .75em;
}

.TodoItem {
  border-radius: 5px;
  padding: .75em;
  margin-bottom: .75em;
}

.TodoNotDone {
  background-color:darkred;
}

.TodoDone {
  background-color: darkgreen;
}